// Override Sass min()
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

html,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  // background: linear-gradient(0deg, black, blue);
  background-color: brown;
  background: linear-gradient(0deg, black 0px, rgb(10, 10, 49) 200%);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  padding: 0.1em;
}
#parent-div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.content {
  position: absolute;
  width: 500px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000000;
  text-align: center;

  color: white;

  margin: 0;
  padding: 1em;
  background-color: rgba(white, 0.1);

  backdrop-filter: blur(8px);
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
}
